force-app/main/default/flows/Donation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_contact</name>
        <label>Assign contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Contact_Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Input.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_custom_installment_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to be set on the recurring donation</description>
        <name>Assign_custom_RD_fields</name>
        <label>Assign custom RD fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Recurring_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>example</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pay_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_custom_installment_fields</name>
        <label>Assign custom installment fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Installment_Record.cpm__Custom_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>example</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_custom_RD_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Gift Tributes is a feature to allow donors to donate in honor of / in memory of someone else.</description>
        <name>Enable_Gift_Tributes</name>
        <label>Enable Gift Tributes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GiftTributesEnabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>TributeInHonorOf</name>
        <choiceText>In honor of</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>honor</stringValue>
        </value>
    </choices>
    <choices>
        <name>TributeInMemoryOf</name>
        <choiceText>In memory of</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>memory</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <description>The final amount taking into account the cover fees checkbox</description>
        <name>FinalAmountOneTime</name>
        <dataType>Number</dataType>
        <expression>IF({!CoverFees}, {!amountAndFrequency.amountOneTime} + 0.50, {!amountAndFrequency.amountOneTime})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>The final amount taking into account the cover fees checkbox</description>
        <name>FinalAmountRecurring</name>
        <dataType>Number</dataType>
        <expression>IF({!CoverFees}, {!amountAndFrequency.amountRecurring} + 0.50, {!amountAndFrequency.amountRecurring})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>False by default. If your form supports payers from overseas change this formula to determine overseas or not based on the payers address information.</description>
        <name>GiftAidOverseas</name>
        <dataType>Boolean</dataType>
        <expression>false</expression>
    </formulas>
    <formulas>
        <name>GiftTributeNotificationChannel</name>
        <dataType>String</dataType>
        <expression>IF({!GiftTributeNotify}, &apos;email&apos;, null)</expression>
    </formulas>
    <formulas>
        <name>IsCurrentUserSysAdmin</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} = &apos;System Administrator&apos;</expression>
    </formulas>
    <interviewLabel>Donation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Donation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Amount_Screen</name>
        <label>Amount Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Details_Screen</targetReference>
        </connector>
        <fields>
            <name>ProgressStage1</name>
            <extensionName>c:experienceProgressStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>amountFreqDisplayText</name>
            <fieldText>&lt;h2&gt;Select Your Donation Amount&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>amountAndFrequency</name>
            <extensionName>c:amountAndFrequency</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showFrequencyToggle</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>freq1Value</name>
                <value>
                    <stringValue>oneTime</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>freq2Value</name>
                <value>
                    <stringValue>recurring</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>presetAmountsOneTime</name>
                <value>
                    <stringValue>25,50,100,250,500,1000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>presetAmountsRecurring</name>
                <value>
                    <stringValue>5,10,25,60,125,250</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minAmount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultFrequency</name>
                <value>
                    <stringValue>oneTime</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Details_Screen</name>
        <label>Details Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_contact</targetReference>
        </connector>
        <fields>
            <name>ProgressStage2</name>
            <extensionName>c:experienceProgressStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>personalDetailsDisplayText</name>
            <fieldText>&lt;h2&gt;Enter your details&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_Input</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Details_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_Input</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email_Input</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GiftTributeToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Dedicate your gift to a special person</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GiftTributesEnabled</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Details_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Details_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TributesDisplayText</name>
                    <fieldText>&lt;h2&gt;Tribute details&lt;/h2&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>TributeType</name>
                    <choiceReferences>TributeInHonorOf</choiceReferences>
                    <choiceReferences>TributeInMemoryOf</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of tribute</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>HonoreeName</name>
                    <dataType>String</dataType>
                    <fieldText>Honoree Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>GiftTributeNotify</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Would you like to inform someone of your donation?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>GiftTributeNotificationName</name>
                    <dataType>String</dataType>
                    <fieldText>Recipient name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GiftTributeNotify</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>GiftTributeNotificationEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email address of tribute message recipient</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>recipient@example.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GiftTributeNotify</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>GiftTributeNotificationMessage</name>
                    <fieldText>Tribute Message</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GiftTributeNotify</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GiftTributeToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pay_Screen</name>
        <label>Pay Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProgressStage3</name>
            <extensionName>c:experienceProgressStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>payDisplayText</name>
            <fieldText>&lt;h2&gt;Payment Details&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Method_Selector</name>
            <extensionName>cpm:paymentMethodSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>frequency</name>
                <value>
                    <elementReference>amountAndFrequency.frequency</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentIntentResponse</name>
                <value>
                    <elementReference>Pay_Button.result</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CoverFees</name>
            <dataType>Boolean</dataType>
            <fieldText>Cover fees for this donation</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GiftAid</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes, I want to Gift Aid any donations now, in the future and in the past four years</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GiftAidFirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>First_Name_Input</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GiftAid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GiftAidLastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Last_Name_Input</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GiftAid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GiftAidPostalCode</name>
            <dataType>String</dataType>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GiftAid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GiftAidHouseNameOrNumber</name>
            <dataType>String</dataType>
            <fieldText>House name or number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GiftAid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pay_Button</name>
            <dataTypeMappings>
                <typeName>recurringType</typeName>
                <typeValue>npe03__Recurring_Donation__c</typeValue>
            </dataTypeMappings>
            <extensionName>cpm:payButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pixConfig</name>
                <value>
                    <stringValue>{&quot;payer&quot;:{&quot;contactObject&quot;:{&quot;name&quot;:&quot;payerContactVarName&quot;,&quot;value&quot;:&quot;{!Contact_Record}&quot;,&quot;valueDataType&quot;:&quot;reference&quot;}},&quot;paymentMethod&quot;:{&quot;name&quot;:&quot;paymentMethodObjectVar&quot;,&quot;value&quot;:&quot;{!Payment_Method_Selector.context}&quot;,&quot;valueDataType&quot;:&quot;reference&quot;},&quot;oneTime&quot;:{&quot;valueDataType&quot;:&quot;Object&quot;,&quot;value&quot;:{&quot;amount&quot;:{&quot;name&quot;:&quot;oneTimeAmount&quot;,&quot;value&quot;:&quot;{!FinalAmountOneTime}&quot;,&quot;valueDataType&quot;:&quot;reference&quot;},&quot;currencyIsoCode&quot;:{&quot;name&quot;:&quot;oneTimeCurrencyVar&quot;,&quot;value&quot;:&quot;EUR&quot;,&quot;valueDataType&quot;:&quot;String&quot;}}},&quot;recurring&quot;:{&quot;valueDataType&quot;:&quot;Object&quot;,&quot;value&quot;:{&quot;recurringSObject&quot;:{&quot;name&quot;:&quot;recurringObjectVar&quot;,&quot;value&quot;:&quot;Recurring_Record&quot;,&quot;valueDataType&quot;:&quot;reference&quot;},&quot;amount&quot;:{&quot;name&quot;:&quot;recurringAmount&quot;,&quot;value&quot;:&quot;{!FinalAmountRecurring}&quot;,&quot;valueDataType&quot;:&quot;reference&quot;},&quot;currencyIsoCode&quot;:{&quot;name&quot;:&quot;recurringCurrencyVar&quot;,&quot;value&quot;:&quot;EUR&quot;,&quot;valueDataType&quot;:&quot;String&quot;},&quot;frequency&quot;:{&quot;name&quot;:&quot;recurringFrequencyVar&quot;,&quot;value&quot;:&quot;{!amountAndFrequency.frequency}&quot;,&quot;valueDataType&quot;:&quot;reference&quot;}}},&quot;packageActions&quot;:{&quot;giftAidCreate&quot;:{&quot;dateMade&quot;:{&quot;name&quot;:&quot;dateMade&quot;,&quot;value&quot;:&quot;{!$Flow.CurrentDate}&quot;,&quot;dataType&quot;:&quot;reference&quot;},&quot;startDate&quot;:{&quot;name&quot;:&quot;startDate&quot;,&quot;value&quot;:&quot;{!$Flow.CurrentDate}&quot;,&quot;dataType&quot;:&quot;reference&quot;},&quot;endDate&quot;:{&quot;name&quot;:&quot;endDate&quot;,&quot;value&quot;:&quot;&quot;,&quot;dataType&quot;:null},&quot;confirmationDate&quot;:{&quot;name&quot;:&quot;confirmationDate&quot;,&quot;value&quot;:&quot;{!$Flow.CurrentDate}&quot;,&quot;dataType&quot;:&quot;reference&quot;},&quot;firstName&quot;:{&quot;name&quot;:&quot;firstName&quot;,&quot;value&quot;:&quot;{!GiftAidFirstName}&quot;,&quot;dataType&quot;:&quot;reference&quot;},&quot;lastName&quot;:{&quot;name&quot;:&quot;lastName&quot;,&quot;value&quot;:&quot;{!GiftAidLastName}&quot;,&quot;dataType&quot;:&quot;reference&quot;},&quot;houseNameOrNumber&quot;:{&quot;name&quot;:&quot;houseNameOrNumber&quot;,&quot;value&quot;:&quot;{!GiftAidHouseNameOrNumber}&quot;,&quot;dataType&quot;:&quot;reference&quot;},&quot;postalCode&quot;:{&quot;name&quot;:&quot;postalCode&quot;,&quot;value&quot;:&quot;{!GiftAidPostalCode}&quot;,&quot;dataType&quot;:&quot;reference&quot;},&quot;acquisitionMethod&quot;:{&quot;name&quot;:&quot;acquisitionMethod&quot;,&quot;value&quot;:&quot;digital&quot;,&quot;dataType&quot;:&quot;String&quot;},&quot;overseas&quot;:{&quot;name&quot;:&quot;overseas&quot;,&quot;value&quot;:&quot;{!GiftAidOverseas}&quot;,&quot;dataType&quot;:&quot;reference&quot;}},&quot;giftTribute&quot;:{&quot;type&quot;:{&quot;name&quot;:&quot;type&quot;,&quot;value&quot;:&quot;{!TributeType}&quot;,&quot;dataType&quot;:&quot;reference&quot;},&quot;honoreeName&quot;:{&quot;name&quot;:&quot;honoreeName&quot;,&quot;value&quot;:&quot;{!HonoreeName}&quot;,&quot;dataType&quot;:&quot;reference&quot;},&quot;honoreeInformation&quot;:{&quot;name&quot;:&quot;honoreeInformation&quot;,&quot;value&quot;:&quot;&quot;,&quot;dataType&quot;:null},&quot;notificationChannel&quot;:{&quot;name&quot;:&quot;notificationChannel&quot;,&quot;value&quot;:&quot;{!GiftTributeNotificationChannel}&quot;,&quot;dataType&quot;:&quot;reference&quot;},&quot;notificationContactName&quot;:{&quot;name&quot;:&quot;notificationContactName&quot;,&quot;value&quot;:&quot;{!GiftTributeNotificationName}&quot;,&quot;dataType&quot;:&quot;reference&quot;},&quot;notificationEmail&quot;:{&quot;name&quot;:&quot;notificationEmail&quot;,&quot;value&quot;:&quot;{!GiftTributeNotificationEmail.value}&quot;,&quot;dataType&quot;:&quot;reference&quot;},&quot;notificationInfo&quot;:{&quot;name&quot;:&quot;notificationInfo&quot;,&quot;value&quot;:&quot;&quot;,&quot;dataType&quot;:null},&quot;notificationMessage&quot;:{&quot;name&quot;:&quot;notificationMessage&quot;,&quot;value&quot;:&quot;{!GiftTributeNotificationMessage}&quot;,&quot;dataType&quot;:&quot;reference&quot;}}},&quot;successUrl&quot;:{&quot;name&quot;:&quot;successUrl&quot;,&quot;value&quot;:&quot;https://www.example.com/success&quot;,&quot;valueDataType&quot;:&quot;String&quot;},&quot;failureUrl&quot;:{&quot;name&quot;:&quot;failureUrl&quot;,&quot;value&quot;:&quot;https://www.example.com/failure&quot;,&quot;valueDataType&quot;:&quot;String&quot;}}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contact</name>
                <value>
                    <elementReference>Contact_Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentMethodContext</name>
                <value>
                    <elementReference>Payment_Method_Selector.context</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>successUrl</name>
                <value>
                    <stringValue>https://www.example.com/success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>failureUrl</name>
                <value>
                    <stringValue>https://www.example.com/failure</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountOneTime</name>
                <value>
                    <elementReference>FinalAmountOneTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currencyOneTime</name>
                <value>
                    <stringValue>EUR</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountRecurring</name>
                <value>
                    <elementReference>FinalAmountRecurring</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currencyRecurring</name>
                <value>
                    <stringValue>EUR</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>frequencyRecurring</name>
                <value>
                    <elementReference>amountAndFrequency.frequency</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recurringObject</name>
                <value>
                    <elementReference>Recurring_Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftTributeNotificationChannel</name>
                <value>
                    <elementReference>GiftTributeNotificationChannel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftTributeType</name>
                <value>
                    <elementReference>TributeType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftTributeHonoreeName</name>
                <value>
                    <elementReference>HonoreeName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftTributeNotificationContactName</name>
                <value>
                    <elementReference>GiftTributeNotificationName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftTributeNotificationEmail</name>
                <value>
                    <elementReference>GiftTributeNotificationEmail.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftTributeNotificationMessage</name>
                <value>
                    <elementReference>GiftTributeNotificationMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftAidDateMade</name>
                <value>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftAidStartDate</name>
                <value>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftAidConfirmationDate</name>
                <value>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftAidFirstName</name>
                <value>
                    <elementReference>GiftAidFirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftAidLastName</name>
                <value>
                    <elementReference>GiftAidLastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftAidHouseNameOrNumber</name>
                <value>
                    <elementReference>GiftAidHouseNameOrNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftAidPostalCode</name>
                <value>
                    <elementReference>GiftAidPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftAidAcquisitionMethod</name>
                <value>
                    <stringValue>digital</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>giftAidOverseas</name>
                <value>
                    <elementReference>GiftAidOverseas</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Debug</name>
            <fieldText>Debug</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Debug_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DebugDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 0, 0);&quot;&gt;{!Pay_Button.result.statusCode}: {!Pay_Button.result.errorMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(205, 0, 0);&quot;&gt;For more information on failing payments see the Logs object in this org.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <styleSettings>
                    <propertyName>--flowruntime-c-section-border-weight</propertyName>
                    <propertyValue>
                        <stringValue>1px</stringValue>
                    </propertyValue>
                </styleSettings>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsCurrentUserSysAdmin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Pay_Button.result.errorMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enable_Gift_Tributes</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Contact_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>GiftTributesEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Installment_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cpm__Installment__c</objectType>
    </variables>
    <variables>
        <name>Recurring_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
</Flow>
